# Used by docker compose & when connecting to db
POSTGRES_PASSWORD="postgres"
POSTGRES_USER="postgres"
POSTGRES_DB="npm-rest"
POSTGRES_PORT="5432"

# Used when connecting to db
POSTGRES_HOST="127.0.0.1"

# Only required when developing api locally
CLOUDFLARE_HYPERDRIVE_LOCAL_CONNECTION_STRING_PG_HYPERDRIVE="postgresql://postgres:postgres@127.0.0.1/npm-rest"

# Used some places for logging
SENTRY_DSN=""

# Comma seperated list of tokens for fetching from GH
# (no permissions needed)
GITHUB_TOKENS=""
