# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# Miscellaneous
/packages/db/.drizzle
/packages/api/.output
/packages/api/worker-configuration.d.ts
/packages/docs/worker-configuration.d.ts
/packages/api/.wrangler
/docs/worker-configuration.d.ts
/experiments/packument-types/output
/experiments/verify-validate/output
/packages/test/.packuments
